<% layout("/layouts/boilerplate") %>
<body>
    <div class="row justify-content-center mt-3">
      <div class="col-8">
        <h3 class="text-center mb-4">Create a New Listing</h3>
        <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">

          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" id="title" class="form-control" placeholder="Enter title" type="text" required />
            <div class="invalid-feedback">Please provide a valid Title</div>
          </div>

          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" id="description" class="form-control" placeholder="Enter description" rows="4" required></textarea>
            <div class="invalid-feedback">Please provide small description</div>
          </div>

          <!-- <div class="mb-3">
            <label for="image" class="form-label">Image URL/Link</label>
            <input name="listing[image]" id="image" class="form-control" placeholder="Enter image URL/Link" type="text" />
            <div class="invalid-feedback">Please provide a valid image link</div>
            <div class="valid-feedback">Looks Good</div>
          </div> -->

          <div class="mb-3">
            <label for="image" class="form-label">Upload Listing Image</label>
            <input name="listing[image]" id="image" class="form-control" type="file" required/>
            <div class="invalid-feedback">Please provide a image</div>
          </div>


          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="price" class="form-label">Price</label>
              <input name="listing[price]" id="price" class="form-control" placeholder="Enter price" required />
              <div class="invalid-feedback">Please provide a valid Price</div>
            </div>

            <div class="col-md-8 mb-3">
              <label for="country" class="form-label">Country</label>
              <input name="listing[country]" id="country" class="form-control" placeholder="Enter country" type="text" required />
              <div class="invalid-feedback">Please provide a valid Country</div>
            </div>

          </div>

          

          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" id="location" class="form-control" placeholder="Enter location" type="text" required />
            <div class="invalid-feedback">Please provide a valid Location</div>
          </div>
            
          <button type="submit" class="btn w-100" style="background-color: #fe424d;color: white;" >Add Listing</button>
        </form>

      </div>
        
    </div>

</body>









<!-- For Understading -->

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings">
      <input name="listing[title]" placeholder="enter title" type="text" />
      <br /><br />
      <textarea
        name="listing[description]"
        placeholder="enter description"
      ></textarea>
      <br /><br />
      <input
        name="listing[image]"
        placeholder="enter image URL/Link"
        type="text"
      />
      <br /><br />
      <input name="listing[price]" placeholder="enter price" type="number" />
      <br /><br />
      <input name="listing[country]" placeholder="enter country" type="text" />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="enter location"
        type="text"
      />
      <br /><br />
      <button>Add</button>
    </form>
  </body>
</html> -->
