#filters{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .filter{
        justify-items: center;
        margin-top: 2rem;
        opacity: 0.7;
    }

    .filter p{
        font-size: 0.8rem;
    }

    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }

    .tax-info{
        display: none;
    }

    .tax-toggle{
        border: 1px solid black;
        border-radius: 0.2rem;
        padding: 6px 10px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }